<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kakitori.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD3B0B202427EAC6003AA2CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD3B0B3B2427EAC8003AA2CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD3B0B462427EAC8003AA2CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
